body{
    background-color: rgb(087, 985, 250);
}

.header{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Times, serif;
}
.mapdiv{
    width: 75%;
    margin: auto;
}

.mapdiv path {
fill: rgb(0, 111, 30);
stroke: rgb(0, 0, 0);
stroke-width: 2px;
transition: fill 0.3s;
}

.mapdiv :hover{
    fill: rgb(250, 250, 250);
    fill-opacity: initial;
    -ms-zoom-animation: default;
}
